.poly {
  padding: 12px;
  position: relative;
}

.poly .polyContent {
  position: relative;
}

.poly .polyTint, .poly .polyBlur, .poly .polyNoise {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.poly .polyBlur, .poly .polyNoise {
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  overflow: hidden;
}

.poly .polyNoise {
  background: url("./noise.png");
  background-size: 25000px !important;
  opacity: 0.07;
}
